# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.opensdf
C_netz2.sdf
*.vcxproj
C_netz2/Debug/CL.read.1.tlog
*.tlog
C_netz2/Debug/vc100.idb
*.manifest
C_netz2/C_netz2.vcxproj.filters
*.suo
*.lastbuildstate
C_netz2/Debug/C_netz2.unsuccessfulbuild
*.pdb
C_netz2/Debug/C_netz2_manifest.rc
*.cache
Debug/C_netz2.ilk
*.ipch
C_netz2/Debug/C_netz2.log
*.user
C_netz2/Debug/C_netz2.exe.embed.manifest.res
C_netz2.sln
